{% extends "base.html" %}
{#{% block body %}#}
{% block body %}
<!-- begin -->
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Starlette-Dashboard</h1>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Template Information</strong>
    </div>
    <div class="card-body">
      <!-- Credit Card -->
      <div id="how-to-use">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-center">How to Use</h3>
          </div>
          <hr>
          <pre><code>
                  ### Use it
                  -<span class="ruby"> git clone <span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/github.com/devsetgo</span><span class="hljs-regexp">/starlette-dashboard
              </span></span>    -<span class="ruby"><span class="hljs-regexp"> create a virtualenv on linux or Windows Subsystem Linux
              </span></span>
                  #### Run APP
                  First Change directory to app

                  UVICORN
                  Development:
                  ~~~~
                  uvicorn main:app --port 5000 --reload
                  python3 main.py
                  ~~~~
                  Production:
                  ~~~~
                  uvicorn main:app --workers 2
                  gunicorn -c gunicorn_cfg.py main:app
                  # Note: gunicorn is the config for the dockerfile
                  ~~~~

                  Docker
                  ~~~~
                  Docker: docker pull mikeryan56/starlette-dashboard:latest (not implemented)
                  ~~~~

                  #### Run Tests
                  ~~~~
                  python3 -m pytest
                  ~~~~

                  #### Create coverage badge
                  ~~~~
                  coverage-badge -o coverage.svg -f
                  ~~~~

                  #### Pre-Commit &amp; Hooks
                  ~~~~
                  -<span class="ruby"><span class="hljs-regexp"> Follow install instructionsL: [https:/</span><span class="hljs-regexp">/pre-commit.com/</span><span class="hljs-comment">#install](https://pre-commit.com/#install)</span>
              </span>    -<span class="ruby"> pre-commit install
              </span>    -<span class="ruby"> pre-commit run -a
              </span>    ~~~~
              </code></pre>

        </div>
      </div>

    </div>
  </div> <!-- .card -->

</div>

<div class="col-lg-4 col-md-6">
  <aside class="app-nav alt">
    <section class="card">
      <div class="card-header user-header alt bg-dark">
        <div class="media">
          <a href="#">
            <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt=""
              src="https://avatars3.githubusercontent.com/u/16019894?s=400&u=d7bdb0ed5449babb2581bc8600e3db13ea8a2b00&v=4">
          </a>
          <div class="media-body">
            <h2 class="text-light display-6"><i class="fa fa-star-half-o"></i> Starlette Dashboard</h2>
            <p>Application Template</p>
          </div>
        </div>
      </div>


      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://github.com/devsetgo/starlette-dashboard"><i class="fa fa-github"></i> Github -
            devsetgo/starlette-dashboard</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/devsetgo/starlette-dashboard/actions"> <i class="fa fa-signal"></i> Test Coverage
            <img class="pull-right"
              src="https://codecov.io/gh/devsetgo/starlette-dashboard/branch/master/graph/badge.svg"></a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/devsetgo/starlette-dashboard"> <i class="fa fa-signal"></i> Tests <img
              class="pull-right"
              src="https://github.com/devsetgo/starlette-dashboard/workflows/Run%20Tests/badge.svg"></a>
        </li>
        <li class="list-group-item">
          <a href="https://sonarcloud.io/dashboard?id=devsetgo_starlette-dashboard"> <i class="fa fa-signal"></i> Sonar
            Maintainability <img class="pull-right"
              src="https://sonarcloud.io/api/project_badges/measure?project=devsetgo_starlette-dashboard&metric=sqale_rating"></a>
        </li>
        <li class="list-group-item">
          <a href="https://sonarcloud.io/dashboard?id=devsetgo_starlette-dashboard"> <i class="fa fa-signal"></i> Sonar
            Reliability <img class="pull-right"
              src="https://sonarcloud.io/api/project_badges/measure?project=devsetgo_starlette-dashboard&metric=reliability_rating"></a>
        </li>
      </ul>

    </section>
  </aside>
</div>

{% include 'base_assets.html' %}
{% endblock %}