{% extends "base.html" %}
{#{% block body %}#}
{% block body %}
<!-- begin -->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3"><iframe src="/" style="height: 90vh; width: 100%;"></iframe><!-- Put your web address in the iframe src -->
</div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    {% include 'base_assets.html' %}
    {% endblock %}