{% extends "base.html" %}
{% block page_title %}| jsGrid{% endblock %}
{% block page_stylesheet %}
<!-- jsGrid -->
<link rel="stylesheet" href="{{ url_for('static' , path='plugins/jsgrid/jsgrid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static' , path='plugins/jsgrid/jsgrid-theme.min.css') }}">
{% endblock %}
{% block page_breadcrumb %} jsGrid{% endblock %}
{% block page_head_title %}jsGrid Page{% endblock %}
{% block body %}
<!-- Main content -->

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">jsGrid</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block page_sidebar_content %}
<!-- blank and demo script adds page configuration example -->
<!-- <div class="p-3">
  <h5>Title</h5>
  <p>Sidebar content</p>
</div> -->
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
<!-- jsGrid -->
<script src="{{ url_for('static' , path='plugins/jsgrid/demos/db.js') }}"></script>
<script src="{{ url_for('static' , path='plugins/jsgrid/jsgrid.min.js') }}"></script>
<!-- AdminLTE App -->

<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static' , path='dist/js/demo.js') }}"></script>
<!-- page script -->
<script>
  $(function () {
    $("#jsGrid1").jsGrid({
        height: "100%",
        width: "100%",

        sorting: true,
        paging: true,

        data: db.clients,

        fields: [
            { name: "Name", type: "text", width: 150 },
            { name: "Age", type: "number", width: 50 },
            { name: "Address", type: "text", width: 200 },
            { name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
            { name: "Married", type: "checkbox", title: "Is Married" }
        ]
    });
  });
</script>
{% endblock %}
