{% extends "base.html" %}
{% block body %}
<!-- begin -->
<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 403</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Access denied</h3>

      <p>
        Full authentication is required to access this resource.
        Meanwhile, you may <a href="/">return to dashboard</a> or ensure you have proper access rights.
      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- end -->

{% endblock %}