{% extends "base.html" %}
{#{% block body %}#}
{% block body %}
<!-- begin -->

<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center p-3 col-lg-10 order-1 order-lg-10">
        <h1 class="error-number">404</h1>
        <h2>Sorry but we couldn't find this page</h2>
        <p>This page you are looking for does not exist <a href="#">Report this?</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'base_assets.html' %}
{% endblock %}