{% extends "base.html" %}
{% block page_title %}| Contact or About{% endblock %}
{% block page_stylesheet %}{% endblock %}
{% block page_breadcrumb %} Contact or About{% endblock %}
{% block page_head_title %}Contact or About Page{% endblock %}
{% block body %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Built For</h5>
                <p class="card-text">
                  This project is built to be used as a template for Starlette based sites. It is free to use as you wish. I would like to know who, where or what it is used for. Feel free to email me at mike ryan 56 @ gmail . com.
                </p>
                <p>I will try to keep the code coverage above 80% with a goal of 90% or greater. Plus a SonarCloud maintability score of A. Currently it is <a href="https://sonarcloud.io/dashboard?id=devsetgo_starlette-dashboard" class="card-link"><img src="https://sonarcloud.io/api/project_badges/measure?project=devsetgo_starlette-dashboard&metric=sqale_rating"></a></p>
                Contributions to improve, fix, or add functions are welcome at the <a href="https://github.com/devsetgo/starlette-dashboard" class="card-link">GitHub repo</a>

              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">Built With</h5>

                <p class="card-text">
                  This template is built with Starlette, AdminLTE 3.0 HTML template, and Uvicorn as the ASGI Server. There is a Docker Image available to try.
                </p>
                <a href="https://Starlette.io" target="_blank" class="card-link">Starlette.io</a>
                <a href="https://adminlte.io/" target="_blank" class="card-link">AdminLTE.io</a>
                <a href="https://www.uvicorn.org/" target="_blank" class="card-link">Uvicorn ASGI Server</a>
                <a href="https://hub.docker.com/repository/docker/mikeryan56/starlette-dashboard" target="_blank" class="card-link">Docker Image</a>
              </div>
            </div><!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}

  {% block page_sidebar_content %}
  <div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
  </div>
  {% endblock %}
  {% block page_scripts %}
  <!-- page scripts-->
  {% endblock %}