<script src="{{ url_for('static' , path='assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static' , path='assets/js/popper.min.js') }}"></script>
<script src="{{ url_for('static' , path='assets/js/plugins.js') }}"></script>
<script src="{{ url_for('static' , path='assets/js/main.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.css"></script>#}