<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="{{ url_for('static', path='assets/vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', path='assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', path='assets/vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ url_for('static', path='assets/vendors/nprogress/nprogress.js') }}"></script>
<!-- Chart.js -->
<script src="{{ url_for('static', path='assets/vendors/Chart.js/dist/Chart.min.js') }}"></script>
<!-- ECharts -->
<script src="{{ url_for('static', path='assets/vendors/echarts/dist/echarts.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/echarts/map/js/world.js') }}"></script>
<!-- morris.js -->
<script src="{{ url_for('static', path='assets/vendors/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/morris.js/morris.min.js') }}"></script>
<!-- jQuery Sparklines -->
<script src="{{ url_for('static', path='assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', path='assets/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/jqvmap/dist/maps/jquery.vmap.usa.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
<!-- easy-pie-chart -->
<script src="{{ url_for('static', path='assets/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ url_for('static', path='assets/vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script
    src="{{ url_for('static', path='assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- iCheck -->
<script src="{{ url_for('static', path='assets/vendors/iCheck/icheck.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ url_for('static', path='assets/vendors/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ url_for('static', path='assets/vendors/Flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ url_for('static', path='assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ url_for('static', path='assets/vendors/DateJS/build/date.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{ url_for('static', path='assets/vendors/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ url_for('static', path='assets/js/custom.min.js') }}"></script>
<!-- FullCalendar -->
<script src="{{ url_for('static', path='assets/vendors/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendors/fullcalendar/dist/fullcalendar.min.js') }}"></script>