name: Docker RC
on:
  push:
    branches:
    - release-candidate
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
      with:
        ref: release-candidate
    - name: docker-build
      env:
        APP_NAME: starlette-dashboard
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        ls -l
        echo 'Docker Login'
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        cd app
        CAL_VER=$(TZ=America/New_York date +"%y-%m-%d")
        echo 'Docker Build'
        docker build . -t mikeryan56/$APP_NAME:$CAL_VER-rc
        docker push mikeryan56/$APP_NAME:$CAL_VER-rc


